{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 alabaster==0.7.12\
appdirs==1.4.4\
applaunchservices @ file:///Users/ktietz/demo/mc3/conda-bld/applaunchservices_1630511705208/work\
appnope @ file:///opt/concourse/worker/volumes/live/4f734db2-9ca8-4d8b-5b29-6ca15b4b4772/volume/appnope_1606859466979/work\
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work\
argon2-cffi-bindings @ file:///opt/concourse/worker/volumes/live/c6f9b05d-dc80-4dbc-7473-70bfcb66883c/volume/argon2-cffi-bindings_1644569703264/work\
astroid @ file:///opt/concourse/worker/volumes/live/b1ee67e4-dc4d-46fe-7846-df76c86fef67/volume/astroid_1639044233075/work\
atomicwrites==1.4.0\
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work\
autopep8 @ file:///tmp/build/80754af9/autopep8_1615918855173/work\
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work\
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work\
beautifulsoup4 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_croot-cdiouih5/beautifulsoup4_1650462164803/work\
black==19.10b0\
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work\
brotlipy==0.7.0\
certifi==2021.10.8\
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work\
chardet @ file:///opt/concourse/worker/volumes/live/9efbf151-b45b-463d-6340-a5c399bf00b7/volume/chardet_1607706825988/work\
click==8.0.3\
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work\
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work\
cryptography @ file:///opt/concourse/worker/volumes/live/dfab5924-fd99-4f24-7939-7dbf6f1585f3/volume/cryptography_1639414584824/work\
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work\
debugpy @ file:///opt/concourse/worker/volumes/live/839ef258-c5a5-406a-56eb-b19da248f276/volume/debugpy_1629222714909/work\
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work\
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work\
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work\
docutils @ file:///opt/concourse/worker/volumes/live/4d08a32e-3c8a-4d2d-4b17-f3c8b943d07b/volume/docutils_1620827969351/work\
entrypoints @ file:///opt/concourse/worker/volumes/live/194c0a28-55ce-4e83-6a87-0d9f2e06ab2c/volume/entrypoints_1649926487944/work\
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist\
flake8 @ file:///tmp/build/80754af9/flake8_1615834841867/work\
future==0.18.2\
idna==3.1\
imagesize @ file:///tmp/build/80754af9/imagesize_1637939814114/work\
importlib-metadata @ file:///opt/concourse/worker/volumes/live/4e1a3384-472f-4bcb-7776-cb0076aaea40/volume/importlib-metadata_1648562431336/work\
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work\
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work\
ipykernel @ file:///opt/concourse/worker/volumes/live/c21734a4-132a-471d-7fe9-76688d5488be/volume/ipykernel_1647000841085/work/dist/ipykernel-6.9.1-py3-none-any.whl\
ipython @ file:///opt/concourse/worker/volumes/live/333da4fb-3db0-439c-4a1b-ee802c44da4f/volume/ipython_1643818165055/work\
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work\
isort @ file:///tmp/build/80754af9/isort_1628603791788/work\
jedi @ file:///opt/concourse/worker/volumes/live/5006b7b5-a924-4788-6cfe-ae05d8be8830/volume/jedi_1606932947370/work\
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work\
jsonschema @ file:///opt/concourse/worker/volumes/live/24823e2e-e7f0-45fd-47d6-f81d8fef7611/volume/jsonschema_1650025997621/work\
jupyter-client @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4d0a367d-74c5-447f-831e-3e1fd3984797bfrg56pj/croots/recipe/jupyter_client_1650622206454/work\
jupyter-core @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_8ba802e0-15f6-4a45-a9ee-144034526783uwxtvvew/croots/recipe/jupyter_core_1651671235924/work\
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work\
keyring @ file:///opt/concourse/worker/volumes/live/43580e73-cbe6-41a0-45f5-39d9947acf36/volume/keyring_1638531361671/work\
kiwisolver @ file:///Volumes/localdisk/tools/tc/agent2/work/7b74ff0e623c25af/base/conda-bld/kiwisolver_1624927731080/work\
lazy-object-proxy @ file:///opt/concourse/worker/volumes/live/62c2169c-fe65-46ff-434a-480cde88c65b/volume/lazy-object-proxy_1616529070475/work\
MarkupSafe @ file:///opt/concourse/worker/volumes/live/2165c944-5d03-464f-57c1-1df4e51b3ac3/volume/markupsafe_1621528146825/work\
matplotlib==3.1.2\
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work\
mccabe==0.6.1\
mistune==0.8.4\
mkl-fft==1.3.1\
mkl-random==1.2.2\
mkl-service==2.4.0\
mkl-umath==0.1.1\
mypy-extensions==0.4.3\
nbclient @ file:///opt/concourse/worker/volumes/live/2b77047f-e15a-4d19-54ac-7d87d20b74de/volume/nbclient_1650308375803/work\
nbconvert @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_croot-mv2swkk7/nbconvert_1649751922903/work\
nbformat @ file:///opt/concourse/worker/volumes/live/7b63ed3d-0ebc-4647-76d7-1a15c2758dae/volume/nbformat_1649844934173/work\
nest-asyncio @ file:///opt/concourse/worker/volumes/live/bf4e1da0-0622-4bab-4608-fdb487494886/volume/nest-asyncio_1649847922626/work\
notebook @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f5a41ea2-97a0-4ff3-8669-7d94d31f65f7qv3p8st_/croots/recipe/notebook_1651734546956/work\
numexpr==2.8.1\
numpy==1.21.6\
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1643788541039/work\
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work\
pandas==1.3.5\
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work\
parso==0.7.0\
pathspec==0.7.0\
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work\
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work\
platformdirs @ file:///tmp/build/80754af9/platformdirs_1638968569495/work\
pluggy @ file:///opt/concourse/worker/volumes/live/b4f0e253-7a56-4c04-781c-49509af26e8e/volume/pluggy_1648042585672/work\
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work\
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work\
psutil @ file:///opt/concourse/worker/volumes/live/8e01e0e9-ea07-4efa-7afb-fae37c1b9faa/volume/psutil_1612298009056/work\
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl\
pycodestyle @ file:///home/ktietz/src/ci_mi/pycodestyle_1612807597675/work\
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work\
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work\
pyflakes @ file:///home/ktietz/src/ci_ipy2/pyflakes_1612551159640/work\
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work\
pylint @ file:///opt/concourse/worker/volumes/live/7b185167-cc1e-4c9a-6b07-e57f1e634f8f/volume/pylint_1647959903821/work\
pyls-black @ file:///tmp/build/80754af9/pyls-black_1607553132291/work\
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1613849700860/work\
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work\
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work\
PyQt5==5.12\
PyQt5_sip==4.19.19\
PyQtWebEngine==5.12\
pyrsistent @ file:///opt/concourse/worker/volumes/live/24b7a9ab-37d8-463c-575f-69184f9cfbc8/volume/pyrsistent_1636111022304/work\
PySocks @ file:///opt/concourse/worker/volumes/live/ef943889-94fc-4539-798d-461c60b77804/volume/pysocks_1605305801690/work\
python-dateutil==2.8.2\
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work\
python-language-server @ file:///tmp/build/80754af9/python-language-server_1607972495879/work\
pytz==2021.3\
PyYAML==6.0\
pyzmq @ file:///opt/concourse/worker/volumes/live/7dec6841-64b1-4d95-7226-ce37c6ca8915/volume/pyzmq_1638435000749/work\
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work\
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1637160816833/work\
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1649078897110/work\
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work\
regex @ file:///opt/concourse/worker/volumes/live/f8007890-9446-4034-6933-fe20561040ef/volume/regex_1648447718419/work\
requests==2.25.1\
rope @ file:///opt/conda/conda-bld/rope_1643788605236/work\
Rtree @ file:///opt/concourse/worker/volumes/live/5c63c097-8e47-46e3-5b05-c6294368c0c9/volume/rtree_1618420831358/work\
scipy==1.7.3\
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work\
six @ file:///tmp/build/80754af9/six_1644875935023/work\
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work\
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work\
sounddevice @ file:///home/conda/feedstock_root/build_artifacts/python-sounddevice_1601221456362/work\
SoundFile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1607011569782/work\
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work\
Sphinx @ file:///opt/conda/conda-bld/sphinx_1643644169832/work\
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work\
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work\
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work\
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work\
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work\
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work\
spyder @ file:///opt/concourse/worker/volumes/live/9a526dd6-c395-4474-72e9-3c4cf8367496/volume/spyder_1607701250176/work\
spyder-kernels @ file:///opt/concourse/worker/volumes/live/4222356c-c368-4859-55b2-48925351edb1/volume/spyder-kernels_1614030598826/work\
TBB==0.2\
terminado @ file:///opt/concourse/worker/volumes/live/9f5c2831-bf90-4436-71cc-89a70d3fece2/volume/terminado_1644322615956/work\
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work\
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work\
toml @ file:///tmp/build/80754af9/toml_1616166611790/work\
tornado @ file:///opt/concourse/worker/volumes/live/d531d395-893c-4ca1-6a5f-717b318eb08c/volume/tornado_1606942307627/work\
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work\
typed-ast @ file:///opt/concourse/worker/volumes/live/22984077-cbd4-449f-4417-2737b09fa494/volume/typed-ast_1624953682230/work\
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work\
ujson @ file:///opt/concourse/worker/volumes/live/cb669503-d1bd-4eaa-748a-6413c0db0db0/volume/ujson_1611259509883/work\
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work\
watchdog @ file:///opt/concourse/worker/volumes/live/ef299322-6fd3-4c40-7407-bd7106b63dd6/volume/watchdog_1638367293501/work\
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work\
webencodings==0.5.1\
wrapt @ file:///opt/concourse/worker/volumes/live/1f3c9b41-e030-47ab-7f7a-363ee4965354/volume/wrapt_1638433865976/work\
wurlitzer @ file:///opt/concourse/worker/volumes/live/2699b606-19e4-4158-503b-6ff3bec83c50/volume/wurlitzer_1638368179531/work\
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work\
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work}